@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: 'retroTitle';
  src: url('/fonts/karma.future-regular.otf');
}

/* Theme Variables */
@theme {
  --color-retroGreen: #00ff00;
  --color-retroBlack: #0f0f0f;
  --color-crtEffect: text-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.7), 0 0 15px rgba(0, 255, 0, 0.7);

  --font-retroFont: 'VT323', monospace;
  --font-retroTitle: retroTitle
}
